<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <h1>All notes</h1>

    <table class="table table-striped table-hover" id="notes">
      <thead>
        <tr>
          <th>Title</th>
          <th>Length</th>
          <th class="sort-desc hidden-xs">Last updated</th>
          <th class="sort-desc visible-xs">Updated</th>
        </tr>
      </thead>

      <tbody>
        <% @notes.each do |note| %>
          <tr>
            <td><%= link_to note.title, note %></td>
            <td><%= link_to note.content.split.size.to_s + ' words', note %></td>
            <td>
              <%= link_to note do %>
                <span class="hidden-xs"><%= note.updated_at.in_time_zone.strftime("%a %b %e, %Y, %I:%M %p") %></span>
                <span class="visible-xs"><%= note.updated_at.in_time_zone.strftime("%m/%e/%y") %></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <% if @notes.empty? %>
      <p class="noteless">
        You haven't written any notes. Why not <%= link_to 'create one now?', new_note_path %>
      </p>
    <% end %>
  </div>
</div>