<!DOCTYPE html>
<html>
<head>
  <title>TeamNote</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="navbar col-sm-12 col-md-12 col-lg-12">
      <a href="/" class="logo">TeamNote</a>
      <div class="notice"><%= notice %></div>
      <% if user_signed_in? %>
        <%= link_to raw("<div class='circle'>+</div> Create a new note"), new_note_path, class: "navlink" %>
      <% end %>
    </div>
  </div>
  <%= yield %>

  <div class="row">
    <div class="footer col-sm-12 col-md-12 col-lg-12">
      <% if user_signed_in? %>
        <div class="user-details pull-right">
          Logged in as <strong><%= current_user.email %></strong> -
          <%= link_to 'Edit profile', edit_user_registration_path %> -
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        </div>
      <% end %>
      &copy; 2013 TeamNote
    </div>
  </div>
</div>

<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>